@{
    ViewBag.Title = "Swan Coffee Mornings";
}

<div style="text-align: center"><h1>Welcome to Coffeeflask</h1></div>



<div style="text-align: center"><h4>Below you will find a list of upcoming events in your area. please use the search box to look for different areas </h4></div>



<div class="input-group pull-left">
    <input type="text" class="form-control">

    <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
    </button>

</div>






<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Event Name</th>
                <th>Location</th>
                <th>Contact Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10/02/17</td>
                <td>Manchester Coffee Morning</td>
                <td>Manchester</td>
                <td>manctina@mail.com</td>
            </tr>
            <tr>
                <td>15/06/17</td>
                <td>Liverpool Coffee Morning</td>
                <td>Liverpool</td>
                <td>livertina@mail.com</td>
            </tr>
            <tr>
                <td>16/07/17</td>
                <td>Birmingham Coffee Morning</td>
                <td>Birmingham</td>
                <td>Birmtina@mail.com</td>
            </tr>
        </tbody>
    </table>
</div>
